body {
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

header img {
    width: 100%;
}

.box26 {
    position: relative;
    margin: 0.7em 0;
    padding: 0.5em 0;
    border: solid 3px #6600CC;
    border-radius: 8px;
}

.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #6600CC;
    font-weight: bold;
}

.box26 li {
    margin-left: -0.5em; 
    padding: 0;
    font-weight: bold;
}

.box26-span {
    color: red;
    border-bottom: solid 2px red;
}

/*ボタン*/
.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: red;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-weight: bold;
}

.button {
    text-align: center;
}